.filterContainer{
    padding: 10px 10px;
    background-color: rgb(220, 230, 250);
    width: 100%;
    border: 1px solid gainsboro;
}
.filter__title{
    margin: 0px;
    padding-bottom: 10px;
    font-size: 26px;
}
.filter__label{
    margin: 0px;
    padding: 0px;
    display: block;
}

.filter__input{
    display: block;
    margin-top: 10px;
    height: 20px;
    width: 250px;
   
}